.badge {
  padding: 0.25rem 0.5rem;
  border-radius: 0.275rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.success {
  background-color: #4cc075;
  color: #fff;
}

.warning {
  background-color: #fef9c3;
  color: #854d0e;
}

.error {
  background-color: #d80909;
  color: #fff;
}
