.title {
    font-size: 1.125rem;
    font-weight: 300;
    color: #4b5563;
}

.body {
    font-size: 1rem;
}

.small {
    font-size: 0.875rem;
    color: #4b5563;
    /* margin: 0.5rem; */
    margin: 0.5rem 0rem;
}

/* Home style it  */
.homeHeaderTitle {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.homeHeaderSubTitle {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 500;
    color: hsl(214.74deg 15.97% 46.67%);
    line-height: 1.7rem;
}

.inputTitle {
    font-size: 1.5rem;
    font-weight: 600;
}